<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel REST App. Documentation</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>

<h2>Introduction</h2>
This is simple REST Application for hotel booking service.
<h2>Guide</h2>
<ul>
    <li>Create hotel rooms</li>
    <li>Create user</li>
    <li>Book room for a few days</li>

</ul>

<h2>Working with rooms</h2>

<h3>Create new user</h3>

<div class="block1">http://localhost:8080/users/add</div>

<table class="pm-table">
    <tr>
        <th>Params</th>
        <th>Example</th>
    </tr>
    <tr>
        <td>login</td>
        <td>?login=test</td>
    </tr>
    <tr>
        <td>name</td>
        <td>&name=John</td>
    </tr>
    <tr>
        <td>lastName</td>
        <td>&lastName=Doe</td>
    </tr>
</table>


</body>
</html>